<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
   <h:head>
      <title>Welcome</title>
   </h:head>
   <h:body>
     <h1>Billing System</h1>
     <h:dataTable value="#{billingBean.bills}" var="bill">

    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">Billing number</f:facet>
    				<!-- row record -->
    				#{bill.billingNumber}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Sum</f:facet>
    				#{bill.sum}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Order Id</f:facet>
    				#{bill.orderId}
    			</h:column>
    		</h:dataTable>
   </h:body>
</html>